<div class="container-fluid">
	<div class="col-xs-12">
		<h2>List Symptoms</h2>
		<hr>
		<p ng-hide="isLoaded">Loading ...</p>
		<ul ng-show="isLoaded">
			<li ng-repeat="s in symptoms">
				{{ s.ruleitem.name }}
			</li>
		</ul>
	</div>
</div>