<div class="container-fluid">
	<div class="col-xs-12">
		<h2>Manage Symptom</h2>
		<hr>
		<form role="form">
			<div class="form-group">
				<label for="symptom" class="form-label">Symptom Name</label>
				<input type="text" ng-model="symptom.editText" placeholder="type symptom name" class="form-control">
			</div>
			<div class="form-group">
				<button class="add-btn btn btn-primary btn-block" ng-click="addSymptom()">Add Symptom</button>
			</div>
		</form>
	</div>
</div>