$cyan: #eed8a4;
$red: #f24c32;
$blue: #3d7585;
$green: #66a290;
*, *:before, *:after {
	margin: 0 auto;
	padding: 0;
}
@import '../packages/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../packages/fontawesome/scss/font-awesome';
body {
	font-family: sans-serif;
	background: $cyan;
	padding: 0 !important;
	margin: 0 !important;
}
section.header {
	background: url(../img/main-header.png) repeat-x center top;
	height: 156px;
}
header {
	width: 700px;
	height: 156px;
	h1 {
		width: 242px;
		height: 91px;
		margin: 0;
		a {
			display: block;
			background: url(../img/logo.png) no-repeat center center;
			width: 242px; height: 47px;
			text-indent: -300%;
			position: relative;
			top: 17px;
			transition: top 0.2s;
			&:hover {
				top: 15px;
			}
		}
	}
	nav ul {
		list-style: none;
		li {
			display: inline-block;
			a {
				display: block;
				color: $cyan;
				font-weight: bold;
				text-shadow: 0 -2px 0 rgba(0,0,0,.3);
				text-decoration: none;
				text-transform: uppercase;
				height: 65px;
				padding: 23px 15px 0 15px;
				&:hover, &:active, &.active {
					color: $cyan;
					text-decoration: none;
					background: url(../img/active-state.png) repeat-x center top;
				}
			}
		}
	}
}
#container {
	width: 700px;
	background: #FFF;
	min-height: 600px;
	padding: 20px;
	h2 {
		font-size: 30px;
		text-transform: uppercase;
		color: $red;
		padding: 20px;
		margin: -20px -20px 20px -20px;
		border-bottom: 5px solid $red;
		position: relative;
		a {
			position: absolute;
			right: 20px;
			top: 20px;
			font-size: 14px;
			color: $cyan;
			text-decoration: none;
			text-shadow: 0 -1px 0 rgba(0,0,0,.2);
			transition: top 0.2s;
			&:hover {
				top: 19px;
			}
		}
	}
}
.add-btn,.btn-primary,.btn-danger,.btn-default {
	border-radius: 5px;
	background: $blue;
	padding: 5px 15px;
	border-top: 1px solid rgba(255,255,255,.3);
	box-shadow: 0 2px 0 rgba(0,0,0,.3);
}
.btn-danger {
	background: $red;
}
.btn-default {
	background: $green;
}
form.add-form {
	background: $red;
	padding: 10px;
	color: $cyan;
	margin: 0 -20px 20px -20px;
}
ul.item-list {
	list-style: none;
	li {
		display: block;
		padding: 10px 17px;
		background: $green;
		color: #FFF;
		text-decoration: none;
		border-left: 3px solid $blue;
		margin-bottom: 2px;
		position: relative;
		.btn-group {
			position: absolute;
			top: 10px;
			right: 15px;
		}
	}
}
#disease-container {
	.list-unstyled li {
		margin-bottom: 1.5em;
	}
}
form.form-add {
	legend {
		overflow: hidden;
		position: relative;
		button {
			position: absolute;
			top: 2px;
			right: 5px;
		}
	}
}
// .reveal-animation.ng-enter,
// .reveal-animation.ng-leave {
//   -webkit-animation: bouncing 0.6s; /* Safari/Chrome */
//   animation: bouncing 0.6s; /* IE10+ and Future Browsers */
//   // @include transition ( all 2.0s ease-in-out );
// }
// @-webkit-keyframes bouncing {
//   0% {
//     opacity: 0;
//     transform: scale(0.5);
//   }
 
//   60% {
//     opacity: 1;
//     transform: scale(1.2);
//   }
 
//   100% {
//     transform: scale(1);
//   }
// }
// @keyframes bouncing {
//   0% {
//     opacity: 0;
//     transform: scale(0.5);
//   }
 
//   60% {
//     opacity: 1;
//     transform: scale(1.2);
//   }
 
//   100% {
//     transform: scale(1);
//   }
// }
.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}
.block-grid {
	overflow: hidden;
	li {
		float: left;
		list-style: none;
		width: 50%;
		padding-right: 15px;
		margin-bottom: 10px;
		overflow: hidden;
	}
	label { display: block; float: left; width: 50%; margin-top: 5px; }
	input[type=text] { 
		float: right; width: 50%; border-radius: 5px; padding: 5px 7px; border: 1px solid #999; 
	}
}